* {
    padding: 0; /*Margen interno*/
    margin: 0; /*Margen */
    box-sizing: border-box; 
    text-decoration: none; /*Elimina el subrayado de los elementos que lo contengan (por ejemplo los links). */
    list-style-type: none; /*Elimina los estilos de los elementos de lista <li>. */
  }

body {
  /* Color de fondo para todo el BODY. */
  background-color: burlywood;
}

header {
  /* Formato para todo el HEADER. */
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

main section div.div1{
  text-align: center;
}

header h1.logo{
  display: inline-block;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

header nav{
  float: right;
}

header nav ul li {
  /* Agregar propiedad de display. */
  display: inline-block;
  margin-right: 20px;
  line-height: 80px;
}

footer nav ul li {
  /* Agregar propiedad de display. */
  display: inline-block;
  margin-right: 20px;
  line-height: 50px;
}

main {
  background-color: whitesmoke;
  color: blue;
  width: 100%;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

p {
  font-size: 15px;
  line-height: 30px;
}

footer {
  background-color: tomato;
  margin-bottom: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

footer nav{
  float: right;
}

footer h4.sociales{
  display: inline-block;
  line-height: 50px;
}

.fuente-clara {color: #eeeeee;}

.fuente-oscura {color: #22211f;}

.fuente-acento {color: #b59a61;}