* {
    padding: 0; /*Margen interno*/
    margin: 0; /*Margen */
    box-sizing: border-box; 
    text-decoration: none; /*Elimina el subrayado de los elementos que lo contengan (por ejemplo los links). */
    list-style-type: none; /*Elimina los estilos de los elementos de lista <li>. */
  }

body {
  background-color: aquamarine;
}

header {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

main {
  background-color: whitesmoke;
  color: blue;
  width: 100%;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

p {
  font-size: 12px;
}

footer {
  background-color: tomato;
  margin-bottom: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

.fuente-clara {color: #eeeeee;}

.fuente-oscura {color: #22211f;}

.fuente-acento {color: #b59a61;}