* {
    padding: 0; /*Margen interno*/
    margin: 0; /*Margen */
    box-sizing: border-box; 
    text-decoration: none; /*Elimina el subrayado de los elementos que lo contengan (por ejemplo los links). */
    list-style-type: none; /*Elimina los estilos de los elementos de lista <li>. */
    font-family: Arial, Helvetica, sans-serif;
  }

body {
  /* Color de fondo para todo el BODY. */
  background-color: burlywood;
}

header {
  /* Formato para todo el HEADER. Se fijó con position: fixed todo el header.*/
  background-color: aqua;
  padding: 20px;
  margin: 10px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header h1.logo{
  /* Formato para el logo. */
  display: inline-block;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

header nav{
  /* Formato para el menú del header. */
  float: right;
}

header nav ul li {
  /* Agregar propiedad de display. */
  display: inline-block;
  margin-right: 20px;
  line-height: 80px;
}

main {
  background-color: whitesmoke;
  color: blue;
  width: 100%;
  padding: 20px;
  margin: 10px;
  width: 100%;
  position: relative; /* Para que el header no tape el inicio del main por tener fixed. */
  top: 150px;
}

main section div.div1{
  /* Centra todo el contenido del main. */
  text-align: center;
}
 #propiedad p{
    line-height: 20px;
 }

 #propiedad img{
  height: 100px;
 }

p {
  /* Formato del tamaño de la letra y entrelínea. */
  font-size: 15px;
  line-height: 30px;
}

footer {
  /* Formato al footer. Se le da posición relativa y top para que el main no lo tape.*/
  background-color: tomato;
  margin-bottom: 20px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  position: relative;
  top: 150px;
}

footer nav ul li {
  /* Agregar propiedad de display. */
  display: inline-block;
  margin-right: 20px;
  line-height: 50px;
}

footer nav{
  float: right;
}

footer h4.sociales{
  display: inline-block;
  line-height: 50px;
}

.fuente-clara {color: #eeeeee;}

.fuente-oscura {color: #22211f;}

.fuente-acento {color: #b59a61;}