h1,
p,
div {
  background-color: #dde0e3;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}
h1 {
  padding: 50px;
  margin: 50px;
  border: 5px solid black;
}
div {
  padding: 10px 5px 15px 3px;
}
em,
strong,
span {
  background-color: #b2d6ff;
}
